backups
auto-save*
ac-*
elpa
.DS_Store
auto-save-list
ac-comphist.dat
config.el
games
srecode-map.el
recentf
bookmarks
xkcd
ede-projects.el
projectile-bookmarks.eld
modules/feature/slack.el
custom
transient
eshell
cache
